# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Build artifacts
*.jks
credentials.json
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
